/* Phones */
@media only screen and (max-width: 400px){

    #titleBanner
    {
        height:300px;
        width:100%;
        background-size: 50%;
    }

    #bannerText
    {
        color: white; 
        text-align: center; 
        line-height: 280px;
    }

    /* Style the tab */
    .tab 
    {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
        width: 100%
    }
}

/* Tablets */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    #titleBanner
    {
        height:300px;
        width:100%;
        background-size: 70%;
    }

    #bannerText
    {
        color: white; 
        text-align: center; 
        line-height: 280px;
    }
}

/* Desktop */
@media only screen and (min-width: 961px) {
    #titleBanner
    {
        height:300px;
        width:100%;
        background-size: 100%;
    }

    #bannerText
    {
        color: white; 
        text-align: center; 
        line-height: 280px;
    }

    .page
    {
        width: 100%;
    }

    .section
    {
        width: 100%;
    }

    .feature-1
    {
        width:50%;
    }

    .feature-2
    {
        width:50%;
    }

    /* Style the tab */
    .tab 
    {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
        width: 100%;
    }

    /* Style the buttons that are used to open the tab content */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
        background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab button.active {
        background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
        width: 100%;
    }
}





.control {
	overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.control button {
	background-color: #d1d1d1;
	min-height: 50px;
	height: 30px;
	float: left;
    border: inherit;
    outline: auto;
    cursor: pointer;
	height: 100%;
	width: 100%;
}

textarea 
{
    resize: none;
}

table
{
    padding-top: 1px;
    padding-bottom: 1px;
    border:solid;
}

td
{
    display: block;
}

.flex-container
{
    display: flex;
}



 /* Style inputs with type="text", select elements and textareas */
 input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  } 

  .page {
    display: flex;
    flex-wrap: wrap;
  }
  
  .section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header {
    background-color: #B2D6FF;
  }
  
  .content {
    background-color: #EAEDF0;
    min-height: 200px;
  }
  

  .sign-up {
    background-color: #D6E9FE;
  }
  

  .project-1 {
    background-color: #F5CF8E;
    display: block;
  }
  
  .project-2 {
    background-color: #F09A9D;
    display: block;
  }
  
